* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#3d4a37;
    color: rgb(255, 255, 255);
    
   
}
.true  {
   margin: auto;
   margin-top: 250px;
    border: 1px solid rgba(81, 77, 77,0.1.0.09);
    box-shadow: 10px;
    padding:50px;
    max-width: 300px;
    border-style: ridge;
    background-image: url(image/tech.jpg);
    background-image: cover;


}
label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}
input {
    margin-top: 4px;
    margin-bottom: 5px;
}
input[type="text"] {
    color: red;
}
button {
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}